version: "3.9"

services:
  server:
    build: ./server
    container_name: express-server
    ports:
      - "4000:4000"
    environment:
      - PORT=4000
      - CORS_ORIGINS=http://localhost:5173,http://localhost:5174,http://localhost:3000,http://76.13.242.148:5174
    networks:
      - fullstack-net
    restart: unless-stopped

client:
  build: ./client
  container_name: react-client
  ports:
    - "5174:3000"
  environment:
    - VITE_API_URL=http://76.13.242.148:4000
  networks:
    - fullstack-net
  depends_on:
    - server
  restart: unless-stopped

networks:
  fullstack-net:
    driver: bridge
